:root {
  --success: #228b22;
  --warning: #ffa500;
  --error: #dc143c;
  --success-light: rgba(0, 128, 0, 0.4);
  --warning-light: rgba(203, 184, 16, 0.4);
  --error-light: rgba(244, 16, 16, 0.4);
}

@import url("https://fonts.googleapis.com/css2?family=Mingzat&family=Roboto+Slab:wght@100;200;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Mingzat", sans-serif;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}
.control button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  current: pointer;
  margin: 0 10px;
}
.success {
  background: var(--success);
}
.warning {
  background: var(--warning);
}
.error {
  background: var(--error);
}
#toasts {
  position: fixed;
  top: 10px;
  right: 10px;
}
.toast {
  padding: 20px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 26px;
  /* border-left: 6px solid var(--success); */
  overflow: hidden;
  animation: slideShow 3s ease forwards;
  margin: 5px 0;
}
.toast i {
  margin: 0 10px;
}
.toast.success {
  border-left: 6px solid var(--success);
  background: var(--success-light);
}
.toast.warning {
  border-left: 6px solid var(--warning);
  background: var(--warning-light);
}
.toast.error {
  border-left: 6px solid var(--error);
  background: var(--error-light);
}
.toast .countdown {
  width: 100%;
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  animation: countdown 2s ease forwards;
}
.toast.success .countdown {
  background: var(--success);
}
.toast.warning .countdown {
  background: var(--warning);
}
.toast.error .countdown {
  background: var(--error);
}
@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes slideShow {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes slideHide {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(200%);
  }
}
